<app-menu></app-menu>
<div class="container">
  <h2>Editar Usuario</h2>
</div>
<div>
  <div class="container">
    <div *ngIf="errorMensaje" class="alert bg-success" role="alert">
      {{ errorMensaje }}
    </div>
    <form [formGroup]="usuarioForm" (ngSubmit)="actualizarUsuario()">
      <div class="mb-3 row">
        <label for="usuario" class="col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="usuario" name="usuario" formControlName="usuario" required />
          <div *ngIf="usuarioForm.get('usuario')?.invalid && usuarioForm.get('usuario')?.touched" class="error">
            <div *ngIf="usuarioForm.get('usuario')?.errors?.['required']" class="alert bg-danger">
              El campo Usuario es obligatorio.
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="correo" class="col-sm-3 col-form-label">Correo</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="correo" name="correo" formControlName="correo" required />
          <div *ngIf="usuarioForm.get('correo')?.invalid && usuarioForm.get('correo')?.touched" class="error">
            <div *ngIf="usuarioForm.get('correo')?.errors?.['required']" class="alert bg-danger">
              El campo Correo es obligatorio.
            </div>
            <div *ngIf="usuarioForm.get('correo')?.errors?.['email']" class="alert bg-danger">
              El formato del correo no es válido.
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password" name="password" formControlName="password"
            required />
            <div *ngIf="usuarioForm.get('password')?.invalid && usuarioForm.get('password')?.touched" class="error">
              <div *ngIf="usuarioForm.get('password')?.errors?.['required']" class="alert bg-danger">
                El campo Password es obligatorio.
              </div>
            </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" required />
          <div *ngIf="usuarioForm.get('nombre')?.invalid && usuarioForm.get('nombre')?.touched" class="error">
            <div *ngIf="usuarioForm.get('nombre')?.errors?.['required']" class="alert bg-danger">
              El campo Nombre es obligatorio.
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="apellidos" class="col-sm-3 col-form-label">Apellidos</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="apellidos" name="apellidos" formControlName="apellidos"
            required />
            <div *ngIf="usuarioForm.get('apellidos')?.invalid && usuarioForm.get('apellidos')?.touched" class="error">
              <div *ngIf="usuarioForm.get('apellidos')?.errors?.['required']" class="alert bg-danger">
                El campo Apellidos es obligatorio.
              </div>
            </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="rol" class="col-sm-3 col-form-label">Rol</label>
        <div class="col-sm-9">
          <select id="rol" class="form-select" formControlName="rol" name="rol">
            <option *ngFor="let rol of roles" [value]="rol.idRol">
              {{rol.nombre}}
            </option>
          </select>
        </div>
        <div *ngIf="usuarioForm.get('rol')?.invalid && usuarioForm.get('rol')?.touched" class="error">
          <div *ngIf="usuarioForm.get('rol')?.errors?.['required']" class="alert bg-danger">
            El campo Rol es obligatorio.
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-9 offset-sm-3 text-end">
          <button type="submit" class="btn btn-primary" id="aceptar">Guardar</button>
          <button type="submit" class="btn btn-danger" id="cancelar" routerLink="/listaUsuarios">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
