<app-menu></app-menu>
<div class="container">
  <h2>Lista de Usuarios</h2>
  <button class="btn btn-primary" routerLink='/crearUsuarios'>Crear Usuario</button>
</div>

<div>
  <div class="container">
    <div *ngIf="errorMensaje" class="alert alert-danger">
      {{ errorMensaje }}
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>USUARIO</th>
          <th>CORREO</th>
          <th>NOMBRE</th>
          <th>APELLIDOS</th>
          <th>ROL</th>
          <th>ACCIÓN</th>
        </tr>
        <tr *ngFor="let usuario of usuarios">
          <th>{{usuario.idUsuario}}</th>
          <th>{{usuario.usuario}}</th>
          <th>{{usuario.correo}}</th>
          <th>{{usuario.nombre}}</th>
          <th>{{usuario.apellidos}}</th>
          <th>{{usuario.rol.nombre}}</th>
          <th><button class="btn btn-primary" [routerLink]="['/editarUsuario/',usuario.idUsuario]">Editar</button>
          <!-- <button class="btn btn-danger" (click)="confirmarEliminarUsuario(usuario.idUsuario)">Eliminar</button></th> -->
          <button class="btn btn-danger" (click)="abrirModal(usuario.idUsuario)">Eliminar</button></th>

        </tr>

      </thead>


    </table>
  </div>
  <p *ngIf="usuarios.length === 0 && !errorMensaje">
    No hay usuarios para mostrar.
  </p>
</div>
