
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GESTINC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Mantenimientos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/listaUsuarios">Usuarios</a>
          <a class="dropdown-item" routerLink="/listaRoles">Roles</a>
          <a class="dropdown-item" routerLink="/listaTiposIncidencia">Tipos de Incidencia</a>
          <a class="dropdown-item" routerLink="/listaDepartamentos">Departamentos</a>
          <a class="dropdown-item" routerLink="/listaTecnicos">Técnicos</a>
          <a class="dropdown-item" routerLink="/listaPrioridadesIncidencia">Prioridades Incidencia</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/auditoria">Auditoria</a>
      </li>
    </ul>
  </div>
</nav>


