<app-menu></app-menu>
<div class="container">
  <h2>Lista de Roles</h2>
  <button class="btn btn-primary" href="#">Crear Rol</button>
</div>

<div>
  <div class="container">
    <div *ngIf = "errorMensaje" class="alert alert-danger">
      {{ errorMensaje }}
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>DESCRIPCIÓN</th>
          <th>ACCIÓN</th>
        </tr>
        <tr *ngFor="let rol of roles">
          <th>{{ rol.idRol }}</th>
          <th>{{ rol.nombre }}</th>
          <th>{{ rol.descripcion }}</th>
          <th><button class="btn btn-primary" href="#">Editar</button>
          <button class="btn btn-danger" (click)="abrirModal(rol.idRol)">Eliminar</button></th>
        </tr>
      </thead>
    </table>
  </div>


</div>
