<app-menu></app-menu>
<div class="container">
  <h2>Crear Prioridad Incidencia</h2>
</div>

<div class="container">
  <div *ngIf="errorMensaje" class="alert bg-success" role="alert">
    {{ errorMensaje }}
  </div>
  <form [formGroup]="prioridadIncidenciaForm" (ngSubmit)="crearPrioridadIncidencia()">
    <div class="mb-3 row">
      <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" required />
        <div *ngIf="prioridadIncidenciaForm.get('nombre')?.invalid && prioridadIncidenciaForm.get('nombre')?.touched"
          class="error">
          <div *ngIf="prioridadIncidenciaForm.get('nombre')?.errors?.['required']" class="alert bg-danger">
            El campo Nombre es obligatorio.
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="descripcion" class="col-sm-3 col-form-label">Descripción</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion"
          required />
        <div *ngIf="prioridadIncidenciaForm.get('descripcion')?.invalid && prioridadIncidenciaForm.get('descripcion')?.touched"
          class="error">
          <div *ngIf="prioridadIncidenciaForm.get('descripcion')?.errors?.['required']" class="alert bg-danger">
            El campo Descripción es obligatorio.
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-9 offset-sm-3 text-end">
        <button type="submit" class="btn btn-primary" id="aceptar">Guardar</button>
        <button type="button" class="btn btn-danger" id="cancelar" routerLink="/listaPrioridadesIncidencia">Cancelar</button>
      </div>
    </div>
  </form>
</div>
